# H2 DataSource Configuration for Karaf
# Place this file in $KARAF_HOME/etc/org.ops4j.datasource-AppDataSource.cfg

osgi.jdbc.driver.class = org.h2.Driver
dataSourceName = AppDataSource
url = jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
user = sa
password =

# Connection pool settings
pool = hikari
maximumPoolSize = 10
minimumIdle = 2
idleTimeout = 30000
connectionTimeout = 30000
maxLifetime = 1800000
